IMG {border-color:#000099;}
TH {font-size:9pt;font-family:Arial,Helvetica,sans-serif;}
TD {font-size:9pt;font-family:Arial,Helvetica,sans-serif;}
B {font-size:9pt;font-family:Arial,Helvetica,sans-serif;}
.smtxt {font-size:8pt;font-family:Arial,Helvetica,sans-serif;}
.mdtxt {font-size:9pt;font-family:Arial,Helvetica,sans-serif;}
.lgtxt {font-size:12pt;font-family:Arial,Helvetica,sans-serif;}
.pgtitle {font-size:12pt;color:#003366;}
.bdbrg {font-weight:bold;color:#990000;}
.bdbrg2 {font-size:12pt;font-weight:bold;color:#990000;}
.tabon {background:#FFCC00;}
.nav {color:White;background:#003366;}
.rb {background:#FFCC01;}
A.nav {color:White;}
A.nav:Visited {color:White;}
A.nav:Active {color:Red;}
A.nav:Hover {color:#FFCC00;}
A.smwt {font-size:8pt;color:White;}
A.smwt:Visited {font-size:8pt;color:White;}
A.smwt:Active {font-size:8pt;color:Red;}
A.smwt:Hover {font-size:8pt;color:#FFFF66;}
A.mdwt {color:White;}
A.mdwt:Visited {color:White;}
A.mdwt:Active {color:Red;}
A.mdwt:Hover {color:#FFFF66;}
A.lgwt {font-size:12pt;color:White;}
A.lgwt:Visited {font-size:12pt;color:White;}
A.lgwt:Active {font-size:12pt;color:Red;}
A.lgwt:Hover {font-size:12pt;color:#FFFF66;}
A.grn {color:DarkGreen;}
A.grn:Visited {color:SeaGreen;}
A.grn:Active {color:Red;}
A.grn:Hover {color:LimeGreen;}
.bb {font-size:9pt;font-weight:bold;}
A.nav2 {color:White;}
A.nav2:Visited {color:White;}
A.nav2:Active {color:Red;}
A.nav2:Hover {color:#FFCC00;}
th.nav2 {color:White;background:#003366; text-align:center;}
/*
     FILE ARCHIVED ON 21:15:58 Mar 03, 2000 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:57:59 Oct 02, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.401
  exclusion.robots: 0.036
  exclusion.robots.policy: 0.028
  esindex: 0.007
  cdx.remote: 15.04
  LoadShardBlock: 1467.772 (3)
  PetaboxLoader3.datanode: 1452.362 (4)
  PetaboxLoader3.resolve: 56.742 (2)
  load_resource: 66.518
*/